python/.dbdata/mysql/*
python/.dbdata/sys/*
python/.dbdata/performance_schema/*

csharp/dotnet/EcmaAPI/.vs/*
csharp/dotnet/EcmaAPI/bin/*
csharp/dotnet/EcmaAPI/.vs/EcmaAPI/v16/.suo

csharp/strategy/strategy/.vs
csharp/strategy/strategy/bin
csharp/strategy/strategy/obj
csharp/strategy/strategy/Models/*
csharp/strategy/strategy/appsettings.json

csharp/ConsoleDemoDotNetCore/.vs
csharp/ConsoleDemoDotNetCore/ConsoleDemoDotNetCore/bin
csharp/ConsoleDemoDotNetCore/ConsoleDemoDotNetCore/obj