python/.dbdata/mysql/*
python/.dbdata/sys/*
python/.dbdata/performance_schema/*
dotnet/EcmaAPI/.vs/EcmaAPI/v16/.suo

strategy/.vs/*
strategy/strategy/bin/*
strategy/strategy/obj/*
strategy/strategy/Models/*
strategy/strategy/appsettings.json